.root{
	height: 66px;
	position: relative;
	z-index: 3;	
	@media (min-width: 768.5px) {
		height: 100%;
		padding: 9px 18px;
		backdrop-filter: blur(18px);
		background: rgba(255, 255, 255, 0.40);
		border-radius: 17.712px;
	}
	@media (max-width: 768.5px) {
		height: 120px;
	}
	@media (max-width: 620px) {
		height: 140px;
	}
}

.searchBlock{
	display: flex;
	align-items: center;
	@media (max-width: 768.5px) {
		height: 66px;
		border-radius: 17.712px;
		padding: 9px 18px;
		background: rgba(255, 255, 255, 0.40);
		backdrop-filter: blur(18px);
		margin-bottom: 16px;
		flex: 0 1 100%;
	}
	@media (max-width: 620px) {
		height: 36px;
	}
}

.form{
	color: #FFF;
	display: flex;
	@media (min-width: 768.5px) {
		width: 100%;
		justify-content: space-between;
		@media (max-width: 1024.5px) {
			justify-content: start;
		}
	}
	@media (max-width: 768.5px) {
		flex-wrap: wrap;
	}
}

.search{
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	input{
		color: #FFF;
		margin-left: 8px;
		width: 100%;
		background-color: transparent;
		font-family: 'Montserrat', sans-serif;
		font-size: 17.712px;
		line-height: normal;
		&::placeholder{
			color: #FFF;
			opacity: 0.7;
		}
	}
}

.checkDate{
	display: flex;
	margin-left: 34px;
	position: relative;
	z-index: 5;
	@media (max-width: 1024.5px) {
		flex: 1 1 auto;
		margin-left: 20px;
	}
	@media (max-width: 940px) {
		margin-left: 10px;
	}
	@media (max-width: 768.5px) {
		padding: 9px 18px;
		backdrop-filter: blur(18px);
		background: rgba(255, 255, 255, 0.40);
		border-radius: 17.712px 0 0 17.712px;
		margin-left: 0;
		height: 66px;
		justify-content: space-between;
		flex: 0 1 50%;
	}
	@media (max-width: 620px) {
		height: 36px;
		flex: 1 1 100%;
		border-radius: 17.712px;
		margin-bottom: 16px;
	}
	@media (max-width: 320.5px) {
		padding: 9px 0;
	}
	>div{
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		position: relative;
		.box{
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
		}
		.calendar{
			position: absolute;
			top: 0%;
			left: 0;
			max-width: none;
			transform: scale(0.7) translate(-25%, -25%);
			border-radius: 14px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease 0s;
			z-index: 6;
			&.active{
				visibility: visible;
				top: 100%;
				opacity: 1;
			}
			&.out{
				left: -60%;
			}
		}
		@media (max-width: 1024.5px) {
			width: 120px;
		}
		@media (max-width: 940px) {
			width: 100px;
		}
		@media (max-width: 620px) {
			flex: 0 1 50%;
			justify-content: center;
			&:first-child{
				position: relative;
				&::after{
					content: '';
					position: absolute;
					width: 1px;
					height: 100%;
					background-color: #fff;
					right: 0;
					top: 0;
				}
			}
		}
		svg{
			margin-right: 8px;
		}
		svg,span{
			cursor: pointer;
		}
		&:not(:first-child){
			@media (min-width: 320.5px) {
				margin-left: 34px;
				@media (max-width: 1024.5px) {
					margin-left: 20px;
				}
				@media (max-width: 940px) {
					margin-left: 0px;
				}
			}
		}
	}
}

.submit{
	display: flex;
	margin-left: 62px;
	@media (max-width: 1280px) {
		margin-left: 4px;
	}
	@media (max-width: 768.5px) {
		flex: 1 1 auto;
		padding: 9px 18px;
		backdrop-filter: blur(18px);
		background: rgba(255, 255, 255, 0.40);
		border-radius: 0 17.712px 17.712px 0;
		margin-left: 0;
		height: 66px;
		justify-content: end;
	}
	@media (max-width: 620px) {
		height: 36px;
		border-radius: 17.712px;
		align-items: center;
		justify-content: center;
	}
}

.filter{
	display: flex;
	align-items: center;
	position: relative;
	svg,span{
		cursor: pointer;
	}
	>div{
		display: flex;
		align-items: center;
	}
	.select{
		position: absolute;
		top: 0%;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 14px;
		padding: 4px 6px;
		color: black;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		transition: all 0.6s ease 0s;
		div{
			span{
				display: block;
				font-weight: 500;
				padding: 2px;
				margin-bottom: 8px;
				cursor: auto;
				border-bottom: 1px solid #000;
			}
			ul{
				li{
					border-radius: 6px;
					position: relative;
					input{
						cursor: pointer;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						opacity: 0;
					}
					&:not(:last-child){
						margin-bottom: 4px;
					}
					&:hover{
						background-color: lightgray;
					}
					&.active{
						background-color: lightgray;
					}
				}
			}
		}
		&.active{
			visibility: visible;
			top: 100%;
			opacity: 1;
		}
	}
}

.button{
	margin-left: 36px;
	border-radius: 35.425px;
	background: #FFF;
	display: flex;
	padding: 14px 34px;
	justify-content: center;
	align-items: center;
	@media (max-width: 940px) {
		margin-left: 14px;
		padding: 10px 20px;
	}
	@media (max-width: 620px) {
		padding: 4px 10px;
	}
	span{
		color: #2659C3;
		font-family: 'Montserrat', sans-serif;
		font-size: 17.712px;
		font-weight: 700;
		line-height: normal;
		@media (max-width: 620px) {
			font-size: 14px;
		}
	}
}